.AvatarCard {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    // width: ;
    height: 457px;
    position: relative;
    border-radius: 10px;

    .title-cm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        margin-top: 90px;


        h4 {
            font-size: 20px;
            color: #4F4F4F;
            font-weight: 400;
            margin-bottom: 20px;
        }

        h5 {
            font-size: 18px;
            font-weight: 400;
            color: #828282;

        }

        .comunity-badge {
            width: 50%;

            h5 {
                padding: 5px;
                border-radius: 10px;
                background-color: #189AB0;
                color: white;
            }
        }

    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 0px;

        h4 {
            font-size: 20px;
            color: #4F4F4F;
            font-weight: 400;
            margin-bottom: 20px;
        }

        h5 {
            font-size: 18px;
            font-weight: 400;
            color: #828282;

        }

        .comunity-badge {
            width: 50%;

            h5 {
                padding: 5px;
                border-radius: 10px;
                background-color: #189AB0;
                color: white;
            }

        }
    }

    .image-avatar {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border: solid 5px white;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .cardbody {
        h5 {
            color: #D82671;
        }

    }
}