.bio {
    font-family: 'Mulish', sans-serif;
    color: #4F4F4F;

    .title {
        h5 {
            font-size: 18px;
            font-weight: 700;
        }

        .button-edit {
            color: #4F4F4F;
            cursor: pointer;


        }

        .modal-edit {

            background-color: rgba(255, 255, 255, 0.8);
            font-family: 'Mulish', sans-serif;


            .modal-textarea {
                font-family: 'Mulish', sans-serif;

            }



        }
    }

    .body {
        text-align: justify;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        word-spacing: 2px;
    }
}