.headText-badge{
    padding : 0 10px;
    color: #D82671;
    border: 2px solid #D82671;
    /* border-radius: 20%/50%; */
   
}

.widthBadge{
    width: 100px;
}

.MyBadge{
    padding: 3px 10px;
    border-radius:100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
    -o-border-radius:100px;
    color: #D82671;
    border: 2px solid #D82671;
    background-color: #fff;
}

.MyBadge:focus{
    outline: 0;
}