.headText-badge{
    padding : 0 10px;
    color: rgb(148, 4, 117);
    border: 2px solid rgb(148, 4, 117) ;
    /* border-radius: 20%/50%; */
   
}

.widthBadge{
    width: 100px;
}

.MyBadge{
    padding: 3px 10px;
    border-radius:100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
    -o-border-radius:100px;
    color: rgb(148, 4, 117);
    border: 2px solid rgb(148, 4, 117) ;
    background-color: #fff;
}

.MyBadge:focus{
    outline: 0;
}