.bgimage-left {
  background-image: url(../../Asset/background.png);
  background-size: cover;
  text-align: center;
}

.left-interest {
  background-color: rgba(216, 38, 113, 0.9);
  text-align: center;
  justify-content: center;
  height: 40rem;
  width: 100%;
}

.bgimage-right {
  background-image: url(../../Asset/background.png);
  background-size: cover;
  text-align: center;

}
.Right-interest {
  background-color: rgba(255, 255, 255, 0.9);
  background-size: cover;
  text-align: center;
  justify-content: center;
  height: 40rem;
  width: 100%;

}

.content-interest {
  background-color: rgb(255, 255, 255);
}

.yes{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  width: 50rem;
}
