.Citybgimage-left {
  background-image: url(../../Asset/background.png);
  background-size: cover;
  text-align: center;
}

.left-city {
  background-color: rgba(216, 38, 113, 0.9);
  text-align: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.Citybgimage-right {
  background-image: url(../../Asset/background.png);
  background-size: cover;
  text-align: center;

}
.Right-City {
  background-color: rgba(255, 255, 255, 0.9);
  background-size: cover;
  text-align: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

}

.content-form {
  background-color: rgb(255, 255, 255);
}

.content-city{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  width: 40rem;
}