.lrg-crwd {
    width: 550px;

    .title {
        .avatar-post {
            .image {
                width: 90px;
                height: 80px;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

        }

        .avatar-title {
            width: 100%;

            .user-posted {
                .icon-edit {
                    margin-left: auto;
                }
            }
        }

    }


    .body {
        border-radius: 10px;

        .image-post {
            height: 214px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
        }
    }
}