.profilePic {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.headTextBadge {
    font-weight: 400;
    font-size: 14px;
    padding: 0 23px;
    color: #D82671;
    border: 1px solid #D82671;

}

.headTextMain {
    line-height: 25px;
}

.font-size {
    color: #828282;
    font-weight: 400;
    text-align: justify;
    font-size: 14px;
}

.imageSize {
    width: 20rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.btnGroup button {
    background-color: #fff;
    color: #4F4F4F;
    font-size: 11pt;
    border-top: 1px solid rgb(224, 224, 224);
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

.btnGroup button:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.4s;
    animation: ease-in;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-animation: ease-in;
}


.btnGroup button:not(:last-child) {
    border-right: 1px solid rgb(224, 224, 224);

}

.btnGroup i {
    color: #4F4F4F;
    margin-right: 5px;
}

.divider {
    border-bottom: 2px solid #F4EEE8;
    border-radius: 5px;

}

/* .imageAvatar {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: solid 5px white;
    top: -100px;
    left: 80px;
} */

.imageAvatar img {
    width: 84px;
    height: 84px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.button-card {
    font-size: 16px;
    font-weight: 400;
    color: #4F4F4F;
}



.positionRelative {
    position: relative;
}

.position-absolute {
    top: 15px;
}

.fa-ellipsis-h:focus {
    color: #D82671;
}

.fa-ellipsis-h:hover {
    color: #D82671;
    cursor: pointer;
    transition: 0.4s;
    animation: ease-in;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-animation: ease-in;

}

.btnStyle-largeCard i {
    color: white;
}

.btnStyle-largeCard {
    position: absolute;
    top: -2.7rem;
    left: 47.9rem;
    z-index: 10;

}

.sizeText {
    height: 3rem;
}

.commentCard {
    border: 1px solid rgb(214, 214, 214);
    border-top: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.hideComment {
    height: 0;
    overflow: hidden;
    transition: height ease-out 0.4s;
    -webkit-transition: height ease-out 0.4s;
    -moz-transition: height ease-out 0.4s;
    -ms-transition: height ease-out 0.4s;
    -o-transition: height ease-out 0.4s;
}

.stylingHover a, .stylingHover label {
    text-decoration: none;
    font-size: 12pt;
    color: #4F4F4F;
}

.stylingHover label:hover, .stylingHover a:hover {
    color: white;
    background-color: #D82671;
    transition: background-color ease-in 0.3s;
    -webkit-transition: background-color ease-in 0.3s;
    -moz-transition: background-color ease-in 0.3s;
    -ms-transition: background-color ease-in 0.3s;
    -o-transition: background-color ease-in 0.3s;
}

