
.Signinbg-left {
  background-image: url(../../Asset/background.png);
  background-size: cover;
  text-align: center;
}

.left-signin {
  background-color: rgba(216, 38, 113, 0.9);
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.Signinbg-left h2 {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 53px;
  letter-spacing: -0.24px;
}

.Signinbg-right {
  background-image: url(../../Asset/background.png);
  background-size: cover;
  text-align: center;

}
.Right-signin {
  background-color: rgba(255, 255, 255, 0.9);
  background-size: cover;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.box-signin {
  background-color: rgb(255, 255, 255);
}

.button-signin{
  background-color: #D82671;
  border: none;
  color:white;
  height: 3rem;
  width: 22rem;
}

.marginTopSignin {
  margin-top: 3px;
}
