.fontWeight-topic {
    font-weight: 400;
}

.fontWeight-topic h6{
    font-size: 18px;
}

.part-1 p{
    font-size: 16px;
    color: #A7A7A7;
}

.fontWeight-topic div{
    font-size: 16px;
}

.part-2 div {
    color: #A7A7A7;
}