.Profile-page {
    height: 1980px;

    .button-menu {
        h5 {
            margin: 20px 20px 60px 0;
            padding-bottom: 20px;
            padding-right: 75px;
        }

        h5:hover {
            cursor: pointer;
        }

        h5:active {
            border-bottom: solid 5px pink;
        }
    }

}