.footer{
    background-color: rgba(216, 38, 113, 0.9);
    justify-content: center;
    margin-top: 1rem;
    height: 20rem;
}

.logo{
    margin: 5rem 4rem 4rem 0;
}

.list-unstyled{
    color: #FFFF;
}
ul{
    list-style-type: none;
}
li{
    margin-bottom: 1rem;
}