.cardSize{
    width: 25rem;
    height: 16rem;
}

.cardSize img {
    width: 25rem;
    height: 16rem;
}

.cardSize input {
    display: none;
}

.centeringBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.btnStyle{
    border: 1px solid rgb(168, 168, 168);
    padding: 5px 8px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.btnStyle:active{
    background-color: rgb(230, 230, 230);
}